* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }




/* menu */

.menu {
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 500;
}

.menu ul {
    float: right;
}

.menu li {
    display: inline-block;
    padding: 10px;
}

.menu li a {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    text-decoration: none;
    line-height: 80px;
    border-radius: 50px;
}

.menu li a:hover {
    box-shadow: -5px 2px #2525253d;
}




/* container */

.sezione {   
    height: 100vh;
    position: relative;
}

#sezione1 {
    background-color: red;
}

#sezione2 {
    background-color: green;
}

#sezione3 {
    background-color: yellow;
}




/* immagine articolo */

.sezione-img-text {
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.sezione-img-text img {
    width: 95%;
}




/* testo articolo */

#last-text-green {
    color: green;
}

.sezione-img-text h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: yellow;
}




/* layover bonus  */

.layover {
    background-color: rgba(0,0,0,0);
    transition: background-color 1s;
    border-radius: 50px;   
}

.sezione-img-text:hover .layover{
    background-color: rgba(0,0,0,0.5); 
    border-radius: 50px;   
}

.sezione-img-text img {
    transition: width 1s;
}

.sezione-img-text:hover img {
    width: 100%;
}

.menu li a {
    transition: font-size 1s;
    transition: box-shadow 0.5s;
}

.menu li a:hover {
    box-shadow: -5px 5px #2525253d;
    font-size: 25px; 
}



